/* FONTS */
@font-face {
    font-family: "main";
    src: url("NotoSans-Regular.ttf");
    /* src: url('Nunito-Bold.ttf'); */
}
@font-face {
    font-family: "default";
    src: url("texgyreadventor-regular.otf");
    /* src: url('AzeretMono-Thin.ttf'); */
}
/* BASICS */
html {
    overflow: hidden;
    height: 100vh;

    --c1: #8D95A6;
    --c2: #734E39;
    --c3: #732F17;
    --c4: #401D10;
    --c5: #8C5E4D;

    --c6: #8C8079;
    --c7: #7B798C;
    --c8: #7B8C79;
    --c9: #243722;
    --c10: #FFA970;


}
body {
    margin: 0;
    overflow: scroll;
    height: 100vh;
    padding-top: 60px;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 60px;
}
/* NAV */
nav {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 999;

    font-family: "main", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #7b8c79;
    background-color: #bfdfbc; */
    /* background-color: var(--c6); */
    background-color: var(--c8);
    /* background-color: var(--c10); */
}
a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a[href="#Home"] {
    background-image: url("./img/logo_line.svg");
    width: 3em;
    height: 1em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/* ELEMENTS */
h1 {
    font-family: "main", sans-serif;
    /* flex-basis: 100%; */
    flex-basis: auto;
}
h2 {
    font-family: "main", sans-serif;
    /* flex-basis: 100%; */
    flex-basis: auto;
}
h1,
h2,
p,
ul {
    max-width: 1200px;
    /* width: 100%; */
    background-color: rgb(255 255 255 / 1%);
    backdrop-filter: blur(15px);
    padding: 0.5em 1em;
}
/* SECTIONS */
section {
    min-height: 100vh;
    /* border-top: 2px solid white; */
    scroll-snap-align: start;
    padding: 60px 5rem 10rem 5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(2px);
    
    
}
section::before{
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    filter: blur(1px) contrast(.75) saturate(.9) brightness(.9) sepia(10%);
    /* sepia(90%) hue-rotate(85deg) */
}
#Home::before {
    background-image: url("./img/logo.svg");
}
#Die_Philosophie::before {
    background-image: url("./img/Feet.jpg");
}
#Joseph_Pilates::before {
    background-image: url("./img/Hands.jpg");
}
#Die_Methode::before {
    background-image: url("./img/Knee.jpg");
}
#Das_Ziel::before {
    background-image: url("./img/Machine.jpg");
}
#Marcelo_de_Melo::before {
    background-image: url("./img/Marcelo_1.jpg");
}
#Coaching_und_Mentoring::before {
    background-image: url("./img/Feet.jpg");
}
#Kontakt::before {
    background-image: url("./img/Hands.jpg");
}
#Preise::before {
    background-image: url("./img/Knee.jpg");
}
#Impressum::before {
    background-image: url("./img/Machine.jpg");
}
