/* FONTS */
@font-face {
    font-family: "main";
    src: url("NotoSans-Regular.ttf");
}
@font-face {
    font-family: "default";
    src: url("texgyreadventor-regular.otf");
}
body {
    font-family: "default", sans-serif;
}
nav,
h1,
h2 {
    font-family: "main", sans-serif;
}
/* VARS */
:root {
    
    --c: #7B8C79;
    --c: #E2C044;
    --c: #023C40;
    --c: #A35A52;
    --c: #FE938C;
    --c: #D7B69D;
    --c: #7C77B9;
    --c: #87677B;
    --c: #E4DEE4;
    --c: #4B3B47;
    --c: #E0D8DE;
    --c: #FED9B7;
    --c: #34312D;
    --c: #D6A99A;

   
    font-size: 14px;
    --nav_height: 3rem;
    --nav_logo_width: 4em;
    --nav_bg: #7b8c79;
    --nav_col: #250518;
    --body_bg: #e6e8ef;
    --body_col: #250518;
    --sect_line: 2px solid white;
    /* --backdrop_filter: blur(15px); */
    /* --backdrop_shadow: 0 0 10px 10px rgba(255, 255, 255, 0.02); */
    --backdrop_bg: transparent; /*rgba(255, 255, 255, 0.03);*/
    --backdrop_tshadow: 0 0 15px rgba(255, 187, 114, 0.532);
    --image_filter: blur(1px) contrast(0.75) saturate(0.9) brightness(0.9) sepia(10%); /* sepia(90%) hue-rotate(85deg) */
}
#Home {
    --img: url("./img/logo.svg");
}
#Joseph_Pilates {
    --img: url("./img/Feet.jpg");
}
#Marcelo_de_Melo {
    --img: url("./img/Marcelo_1.jpg");
}
#Das_Training {
    --img: url("./img/Knee.jpg");
}
#Kontakt_Impressum {
    --img: url("./img/Machine.jpg");
}
/* #Marcelo_de_Melo {
    --img: url("./img/Marcelo_1.jpg");
}
#Coaching_und_Mentoring {
    --img: url("./img/Feet.jpg");
}
#Kontakt {
    --img: url("./img/Hands.jpg");
}
#Preise {
    --img: url("./img/Knee.jpg");
}
#Impressum {
    --img: url("./img/Machine.jpg");
} */
/* BASICS */
* {
    box-sizing: border-box;
}
html {
    overflow: hidden;
    height: 100vh;
}
body {
    margin: 0;
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    padding-top: var(--nav_height);
    scroll-padding-top: var(--nav_height);
    color: var(--body_col);
    background-color: var(--body_bg);
}
/* NAV */
nav {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--nav_height);
    color: var(--nav_col);
    fill: var(--nav_col);
    background-color: var(--nav_bg);
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.5em;
}
a[href="#Home"] {
    width: var(--nav_logo_width);
    display: flex;
    align-content: center;
    justify-content: center;
}
/* BACKDROP */
h1,
h2,
p,
ul,
blockquote {
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    backdrop-filter: var(--backdrop_filter);
    box-shadow: var(--backdrop_shadow);
    text-shadow: var(--backdrop_tshadow);
    background-color: var(--backdrop_bg);
}
/* SECTIONS */
section {
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
    padding: var(--nav_height) 5vw 10rem 5vw;
    border-top: var(--sect_line);
}
section::before {
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    filter: var(--image_filter);
    background-image: var(--img);
}
